.register_con{
  background-color: rgba(0, 106, 97, 0.5);
}
.register_big_text {
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
  color: #FFFFFF;
}
.text_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  height: 100%;
  margin: auto;
  text-align: center;
  padding-left: 50px;
  position: relative;
}
.text_col img {
  width: 73px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 50px;
}
.register_col {
  background-image: url(../../assets/images/register-shape.png);
  background-position: center;
  background-size: cover;
  width: 100%; 
  /* height: 120vh; */
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.register_col h2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 33px;
  line-height: 50px;
  color: #FFFFFF;
}
.register_col p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}
.register_col input {
  background: #F7FFFE;
}
.register_col input, .form_item {
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 4px;
}
.form_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.form_footer button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FB005A;
  border-radius: 8px;
}
.form_footer > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}